language: android
android:
  components:
  - tools
  - platform-tools
  - build-tools-23.0.2
  - android-23
  - extra-android-m2repository
  - extra-android-support

  licenses:
  - 'android-sdk-license.*'

jdk:
  - openjdk7
  - oraclejdk7

sudo: false

script: 'travis_retry ./gradlew build --parallel'

after_success:
- scripts/travis-sonatype-publish.sh
- ./gradlew jacocoTestReport coveralls

cache:
  directories:
    - $HOME/.gradle/caches